<html>
<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='simplegrid.css') }}">
</head>

<body>

    {% include 'loginlink.html' %}

    <div class = 'pane'>
        <div class = 'flash'>
            {% with messages = get_flashed_messages() %}
            {% if messages %}

            <ul>
                {% for message in messages %}
                <li> <strong> {{ message }} </strong> </li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </div>

        <div class="grid grid-pad">
            <div class="col-1-4">
                <div class="content">
                    {% for c in categories %}

                    <div class = 'name'>
                        {% if c.id == category.id %}
                        <span class = 'selected'> {{c.name}} </span>
                        {% else %}
                        <a href = '{{url_for('categoryList', category_id = c.id) }}'>{{c.name}}</a>
                        {% endif %}
                    </div>

                    {% endfor %}
                </div>
            </div>

            <div class="col-3-4">
                <div class="content">

                    <a href = '{{url_for('newItem', category_id = category.id) }}'>Create New Item</a>

                    {% for i in items %}

                    <div class = 'name'>
                        <span class = 'name'><p>{{i.name}}</p></span>
                    </div>

                    <div class = 'description'>
                        <p>{{i.description}}</p>
                    </div>

                    <div class = "editdeletepane">

                        <a href='{{url_for('editItem',category_id = category.id, item_id=i.id)}}'>Edit</a>
                        <a href='{{url_for('deleteItem', category_id = category.id, item_id=i.id)}}'>Delete</a>
                    </div>

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>